.service-image {
  height: 160px;
  width: 40%;
  margin: 0 auto;
}
.service-card{
  transition:  all .3s ease-in-out;
}
.service-card:hover{
  transform: scale(1.1);
  background: #D9456C;
color: white;
}